### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### Java / Maven / Gradle ###
# Ignora arquivos compilados e pacotes
*.class
*.jar
*.war
*.ear
target/
build/

### Sistema Operacional ###
.DS_Store
Thumbs.db

### Temporários ###
*.log
*.tmp